@import url(//db.onlinewebfonts.com/c/0a63376f97a11722fee9180335d2529b?family=Beattingvile);

body {
    background: linear-gradient(#FEC16E,#FBA682);
}

h1 {
    
    font-family: "Beattingvile";
    color: white;
    font-size: 500%;


}

div{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 200px;
    border-radius: 200px 200px 0 0;
    background-color: lightblue;
    z-index: 10;
    background-color: #493B89;
    transform-origin: bottom center;
    transform: rotate(180deg);
}


button {
    background-color: #493B89;
    color: whitesmoke;
    border-radius: 25px;
    height: 50px;
    width: 30%;
    margin-top: 2%;
}