@import url(//db.onlinewebfonts.com/c/0a63376f97a11722fee9180335d2529b?family=Beattingvile);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,100");

body {
  background-color: #FEC16E;
  background-image: linear-gradient( #FEC16E 0%, #FBA682 100%);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
}

/*Nutzername*/
form {
  position: absolute;
  margin-top: 80%;
  margin-left: 35%;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submit {
  background-color: #493B89;
  color: whitesmoke;
  border-radius: 25px;
  height: 45px;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1%;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
}

/*Startseite*/

h1 {
  z-index: 2;
  margin: 0 auto;
  color:white;
  font-size: 90px;
  font-family: 'Beattingvile';
  position: absolute;
  justify-content: center;
  text-align: center;
  margin: o auto;
  margin-left: 22%;
  margin-top: 15%;
}

h2 {
  z-index: 2;
  margin: 0 auto;
  color:white;
  font-size: 40px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  justify-content: center;
  text-align: center;
  margin: o auto;
  margin-left: 22%;
  margin-top: 15%;
}


.halbkreis{
  position: absolute;
  width: 100%;
  height: 300px;
  border-radius: 200px 200px 0 0;
  background-color: #493B89;
  transform: rotate(180deg);
}
.svg {
  position: absolute;
 margin-left: 11%;
 margin-top: 28%;
}

.btn-1 {
  background-color: #493B89;
  color: whitesmoke;
  border-radius: 25px;
  height: 70px;
  width: 50%;

  justify-content: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 80%;
}

.btn-2 {
  background-color: #493B89;
  color: whitesmoke;
  border-radius: 25px;
  height: 70px;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
}

.btn-3 {
  background-color: #493B89;
  color: whitesmoke;
  border-radius: 25px;
  height: 70px;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
}

button:hover {
  height: 72px;
  width: 51%;
  font-size: 22px;
  color: #FEC16E;
}

/*Camera*/

.cam {
  position: absolute;
  margin-top: 60%;
  margin-left: 10%;
}
.text-1 {
  height: 134px;
  letter-spacing: 0;
  line-height: 50px;
  min-height: 134px;
  min-width: 521px;
  width: 521px;
}

.btn-4 {
  background-color: #493B89;
  color: whitesmoke;
  border-radius: 25px;
  height: 70px;
  width: 50%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 110%;
}

.screenshot-image {
  width: 150px;
  height: 90px;
  border-radius: 4px;
  border: 2px solid whitesmoke;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 5px;
  left: 10px;
  background: white;
}

.display-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 5% auto;
  position: relative;
}

video {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.video-options {
  position: absolute;
  left: 20px;
  top: 30px;
}

.controls {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
}

.controls > button {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  margin: 0 6px;
  background: transparent;
}

.controls > button:hover svg {
  color: white !important;
}

@media (min-width: 500px) and (max-width: 800px) {
  .controls {
      flex-direction: column;
  }

  .controls button {
      margin: 5px 0 !important;
  }
}

.controls > button > svg {
  height: 20px;
  width: 18px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.controls button:nth-child(1) {
  border: 2px solid #D2002E;
}

.controls button:nth-child(1) svg {
  color: #D2002E;
}

.controls button:nth-child(2) {
  border: 2px solid #008496;
}

.controls button:nth-child(2) svg {
  color: #008496;
}

.controls button:nth-child(3) {
  border: 2px solid #00B541;
}

.controls button:nth-child(3) svg {
  color: #00B541;
}

.controls > button {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  margin: 0 6px;
  background: transparent;
}

.controls > button:hover svg {
  color: white;
}